.key {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
    /* padding: 25px 35px; */
    width: 5.5rem;
    height: 5.5rem;
    font-size: 30px;
    color: #1F2C49;
    box-shadow: 3px 3px 12px rgba(191, 191, 191, 0.14);
    transition: 0.3s;
}

.letters_russian{
    font-weight: 500;
}

.letters_turkmen{
    font-weight: 550;
}

.key:active {
    transform: scale(0.8);
    opacity: 0.3;
    background-color: #f3f3f3;
}

.letters {
    display: flex;
    justify-content: center;
}

.space {
    /* padding: 15px 230px; */
    width: 35rem;
}

.clean_tm, .clean_ru {
    display: flex;
    align-items: center;
    font-size: 30px;
}

.clean_tm {
    width: 12rem;
}

.clean_ru {
    width: 16rem;
}

.clean-img {
    width: 22px;
    margin-right: 10px;
    transition: all 0.3s;
}

.key-big {
    font-size: 3rem;
    text-align: center;
}

.clean-img-big {
    width: 30px;
}