.terminal-language-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 8vh;
    width: 97vw;
}

h2 {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    color: #1F2C49;
}