.content {
    color: #1F2C49;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 1.5px;
}

.not-working-container {
    justify-content: center;
    display: flex;
    height: 70vh;
    align-items: center;
}