.language-flag {
    margin: 0 50px;
    width: 6.5rem;
    height: 4rem;
    box-shadow: 0 0 1px 0.5px;
}

.language {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
    background: #FFFFFF;
    padding: 5px 25px;
    border-radius: 15px;
    margin: 30px;
    font-size: 45px;
    color: #434343;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 3px 3px 12px rgba(191, 191, 191, 0.14);
}

.language:active {
    transform: scale(0.97);
    background-color: #f3f3f3;
}

.language-text {
    width: 40vw;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
}