.subcategory-div {
    position: relative;
    top: 4vh;
    width: 97vw;
}

.subcategory-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 3vw;
    transition: 0.3s;
    cursor: pointer;
}

.subcategory-item:active {
    transform: scale(0.9);
    background-color: #f3f3f3;
    opacity: 0.5;
}

.subcategory-item {
    transition: 0.5s;
    display: flex;
    width: 38vw;
    height: 110px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 3px 3px 12px rgba(191, 191, 191, 0.14);
    margin: 7px;
    padding: 0px 25px;
    border-radius: 15px;
}

.subcategory-content {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 40px;
    text-align: center;
    color: #1F2C49;
    transition: all 0.3s;
}

.noterial-back {
    margin: -30px
}


.subcategory-buttons-container {
    display: flex;
    justify-content: space-between;
    margin: -80px 40px
}


/* big */

.content-big {
    font-size: 2.3rem;
}