@font-face {
  font-family: "Archivo";
  src: url('./fonts/archivo-VariableFont_wdth,wght.ttf');
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ebf1f7;
  height: 100vh;
  width: 100vw;
}

body, body *{
  font-family: "Archivo" !important;
  font-style: normal;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
